name: Notify Pull Request (BE)

on:
  pull_request:
    types:
      - opened # open된 pr인 경우
      - reopened  # PR이 리오픈되었을 때
      - synchronize # PR에 새로운 commit이 push 되었을 때
      - review_requested # 리뷰 요청이 왔을 경우
    branches: ['main'] # 다른 브랜치에서 dev 브랜치를 향하는 경우


jobs:
  pull_request_open:
    runs-on: ubuntu-latest
    name: New pr to repo
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Remove "https://" from PR URL
        id: remove_https
        run: |
          PR_URL="${{ github.event.pull_request.html_url }}"
          PR_URL="http://${PR_URL#https://}"          
          echo "::set-output name=pr_url::$PR_URL"

      - name: Check if PR is opened
        if: github.event.action == 'opened'
        run: echo "PR was opened!"

      - name: Check if PR is reopened
        if: github.event.action == 'reopened'
        run: echo "PR was reopened!"

      - name: Check if review was requested
        if: github.event.action == 'review_requested'
        run: echo "Review was requested!"

      - name: Check if review was synchronize
        if: github.event.action == 'synchronize'
        run: echo "Review was synchronize!"

      - name: 상태 확인
        run: echo "${{ steps.remove_https.outputs.pr_url }}|${{ github.event.pull_request.title }}"
        
      
      - name: Send Slack notification When BE PR
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ secrets.SLACK_FE_CHANNEL }} # Slack 채널 ID
          payload: |
            {
                "text": "pr request",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": "<${{ steps.remove_https.outputs.pr_url }}|${{ github.event.pull_request.title }}>\nPR ACTION: ${{ github.event.action }}"
                        }
                    }
                ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }} # Slack 토큰